In [1]:
import pandas as pd

In [2]:
data_wine = pd.read_csv('data\wine.csv')
data_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 12.9+ MB

In [5]:
# Задание 4.1
data_wine['taster_name'].nunique()

19

In [6]:
# Задание 4.2
data_wine['price'].max()

3300.0

In [3]:
# Задание 5.2
data_wine.head(2)

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos

In [5]:
# Задание 5.3
data_wine.duplicated().value_counts()

False    119988
True       9983
dtype: int64

In [6]:
data_wine.drop_duplicates(inplace=True)

In [9]:
# Задание 5.4
colls_null = data_wine.isnull().mean() * 100
display(colls_null[colls_null >0].sort_values(ascending=False))

region_2                 61.021936
designation              28.790379
taster_twitter_handle    24.540787
taster_name              20.766243
region_1                 16.301630
price                     6.996533
country                   0.049172
province                  0.049172
variety                   0.000833
dtype: float64

In [10]:
# Задание 5.5

drop_data_wine = data_wine.copy()
thresh = drop_data_wine.shape[0] * 0.7
drop_data_wine = drop_data_wine.dropna(thresh=thresh, axis=1)

In [12]:
drop_data_wine = drop_data_wine.dropna(subset=['country', 'province', 'variety'], axis=0, how='any')

In [13]:
colls_null = drop_data_wine.isnull().mean() * 100
display(colls_null[colls_null >0].sort_values(ascending=False))

designation              28.795611
taster_twitter_handle    24.552231
taster_name              20.775799
region_1                 16.259756
price                     6.996698
dtype: float64

In [14]:
values = {
    'price': drop_data_wine['price'].median(),
    'region_1': 'unknown',
    'taster_name': 'unknown',
    'taster_twitter_handle': 'unknown',
    'designation': 'unknown'
}
fill_data_wine = drop_data_wine.fillna(values)

In [16]:
fill_data_wine = fill_data_wine.to_csv('data\wine_cleared.csv')