In [1]:
import pandas as pd

df = pd.read_excel('data_lot.xlsx')

#df.info()

#df.drop('Наименование Закачика продукции (юридическое лицо)', axis=1)
display(df.columns)

Index(['№ п/п', 'Вид деятельности', 'Наименование продукции', 'Вид закупки',
       'Номер лота', 'План внеплан', 'СЗ план', 'СЗ факт', 'ЕУ',
       'Плановая цена без НДС', 'Плановая цена с НДС',
       'Документ цену определил', 'Итоговая цена без НДС',
       'Итоговая цена с НДС', 'Контрагент ', 'Цена договора без НДС',
       'Цена договора с НДС'],
      dtype='object')

In [47]:
display(df[df['СЗ факт'] != 'Закупка у взаимозависимых лиц'].groupby(by='Контрагент ')['Цена договора без НДС'].sum().nlargest(10))

Контрагент
 Отдел по г. Москве и Московской области ЦООТЭК (филиал) ФГУП "Охрана" Росгвардии    50869341.12
Интеллектуальные Технологии ЗАО                                                      41050380.07
ООО "КОМПЛЕКТЭНЕРГО"                                                                 25032000.00
ООО "ПИТЕРЭНЕРГОЗАПЧАСТЬ"                                                            22554316.89
АО "УРАЛГИДРОСТАЛЬ"                                                                  18667000.00
Сател ООО                                                                            16131697.00
РемСтройМонтаж ООО                                                                   12838987.27
Самур ООО                                                                            11566968.11
СпецЭнергоСтрой ООО                                                                  10858860.00
ООО "АМПЕР"                                                                           9394167.00
Name: Цена договора без НДС, dtype: float64

In [28]:
df['Наименование победителя закупки'] = df['Наименование победителя закупки'].apply(lambda x:x.strip())

In [ ]:
display(df['Контрагент '].unique())

In [3]:
display(df[df['СЗ факт'] != 'Закупка у взаимозависимых лиц'].groupby(by='Контрагент ')['Контрагент '].value_counts().nlargest(15))

Контрагент                       Контрагент
Атис ООО                         Атис ООО                           9
Орион-СМ ООО                     Орион-СМ ООО                       9
Мерсин ООО                       Мерсин ООО                         7
С-В ООО                          С-В ООО                            7
ИП Филиппова С.В.                ИП Филиппова С.В.                  6
РемСтройМонтаж ООО               РемСтройМонтаж ООО                 6
СпецЭнергоСтрой ООО              СпецЭнергоСтрой ООО                6
Водоканал МУП                    Водоканал МУП                      5
ПрофСтандарт ООО                 ПрофСтандарт ООО                   5
ФГАОУ ДПО АСМС                   ФГАОУ ДПО АСМС                     5
Интеллектуальные Технологии ЗАО  Интеллектуальные Технологии ЗАО    4
СНТА ДПО АНО                     СНТА ДПО АНО                       4
 Ростест-Москва ФБУ               Ростест-Москва ФБУ                3
Диамех 2000 ООО                  Диамех 2000 ООО                    3
ПКФ РУССИБМАШ ООО                ПКФ РУССИБМАШ ООО                  3
Name: Контрагент , dtype: int64

In [1]:
a = [1,2,3]
b = a
c = [1,2,3]
print(a == b, a == c, a is b, a is c)

True True True False

In [11]:
config = {
    "server": {
        "host": "127.0.0.1",
        "port": "22"
    },
    "configuration": {
        "ssh": {
            "access": True,
            "login": "some",
            "password": "some"
        },
        "name": "2491Oaaf1414"
    }
}

In [12]:
config['configuration']['ssh']['login']

'some'

In [14]:
import numpy

numpy.zeros(10, 10)

TypeError: Cannot interpret '10' as a data type

In [60]:
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}

#print(apply_discounts(products, stocks))

## {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

In [57]:
products['Juice J7 (orange)'] = round(float(products['Juice J7 (orange)']) * (1 - (float(stocks['Juice J7 (orange)'].strip('%')) /100)), 2)
products['Juice J7 (orange)']

105.59

In [58]:
def apply_discounts(products, stocks):
    for key in stocks.keys():
        if key in products.keys():
            products[key] = round(float(products[key]) * (1 - (float(stocks[key].strip('%')) /100)), 2)
    return products

In [61]:
print(apply_discounts(products, stocks))

{'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

In [83]:
import pandas as pd

df_bronze = pd.read_csv('bronze.csv', delimiter=';')
df_silver = pd.read_csv('silver.csv', delimiter=';')

merged = df_bronze.merge(df_silver, on='Country', suffixes=['_bronze','_silver'], how='inner')

display(merged.head(5))

  Country  Total_bronze  Total_silver
0  Russia            25            20
1     USA            11            15