# 1.Введение
## 1.1

In [1]:
import pandas as pd
melb_df = pd.read_csv('data\melb_data_fe.csv')

In [ ]:
melb_df.info()

In [2]:
melb_df['Date'] = pd.to_datetime(melb_df['Date'])
display(melb_df['Date'])

0       2016-03-12
1       2016-04-02
2       2017-04-03
3       2017-04-03
4       2016-04-06
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

In [19]:
def to_quarter(arg):
    if 1 <= arg <= 3:
        return 1
    if 4 <= arg <= 6:
        return 2
    if 7 <= arg <= 9:
        return 3
    if 10 <= arg <= 12:
        return 4
melb_df['Month'] = melb_df['Date'].dt.month
melb_df['Quarter'] = melb_df['Month'].apply(to_quarter)
melb_df[melb_df['Quarter'] == 2].shape[0]

4359

## 1.2

In [24]:
for title in melb_df.columns:
    if (title not in ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']) and (melb_df[title].nunique() <= 150):
        melb_df[title] = melb_df[title].astype('category')
        
melb_df = melb_df.drop(columns=['Month', 'Quarter'])
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  CouncilArea      12211 non-null  category
 15  Lattitude        13580 non-null  float64
 16  Longtitude       13580 non-null  float64
 17  Regionname       13580 non-null  category
 18  Propertycount    13580 non-null  int64
 19  MeanRoomsSquare  13580 non-null  float64
 20  AreaRatio        13580 non-null  float64
 21  MonthSale        13580 non-null  category
 22  AgeBuilding      13580 non-null  int64
 23  WeekdaySale      13580 non-null  category
 24  StreetType       13580 non-null  category
 25  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(7)
memory usage: 1.8 MB

# 2.Сортировка данных в DataFrame

## 2.2.

In [16]:
melb_df.sort_values(by='AreaRatio', ascending=False, ignore_index=True).iloc[1558]
melb_df['Type'].unique()

array(['house', 'unit', 'townhouse'], dtype=object)

## 2.3.

In [ ]:
melb_df[(melb_df['Type'] == 'townhouse') & (melb_df['Rooms'] > 2)].sort_values(by=['Rooms', 'MeanRoomsSquare'], ascending=[True, False], ignore_index=True).iloc[18]

# 3 Группировка данных в DataFrame

## 3.1.

In [ ]:
melb_df.groupby('Rooms')['Price'].mean()

## 3.2.

In [20]:
melb_df.groupby('Regionname')['Lattitude'].std()
melb_df['Date']

0       2016-03-12
1       2016-04-02
2       2017-04-03
3       2017-04-03
4       2016-04-06
           ...
13575   2017-08-26
13576   2017-08-26
13577   2017-08-26
13578   2017-08-26
13579   2017-08-26
Name: Date, Length: 13580, dtype: datetime64[ns]

## 3.3.

In [ ]:
melb_df[(melb_df['Date'] >= '2017-05-01') & (melb_df['Date'] <= '2017-09-01')].groupby(by='SellerG')['Price'].sum().sort_values()

# 4. Сводные таблицы

## 4.2.

In [3]:
melb_df.pivot_table(
    values='BuildingArea',
    index='Rooms',
    columns='Type',
    aggfunc='median',
    fill_value=0
)

Type   house  townhouse   unit
Rooms
1      126.0       88.0   69.5
2      126.0      114.0  110.0
3      126.0      126.0  126.0
4      141.0      159.5  126.0
5      177.0      152.0    0.0
6      126.0        0.0  171.0
7      216.5        0.0    0.0
8      126.0        0.0  126.0
10     126.0        0.0    0.0

## 4.3.

In [ ]:
melb_df.pivot_table(
    values='Price',
    index='SellerG',
    columns='Type',
    aggfunc='median',
    fill_value=0
)

# 5 Объединение DataFrame: знакомимся с новыми данными

# 5.1. - 5.4.

In [8]:
rating1 = pd.read_csv('data/ratings1.csv')
rating1.info()
rating1['userId'].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40001 entries, 0 to 40000
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   userId   40001 non-null  int64
 1   movieId  40001 non-null  int64
 2   rating   40001 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 937.6 KB

274

In [7]:
movie = pd.read_csv('data/movies.csv')
movie.info()
movie['movieId'].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

9742

In [ ]:
date = pd.read_csv('data/dates.csv')
#date.info()
date['date'] = pd.to_datetime(date['date'])
date.info()
date['Year'] = date['date'].dt.year
date['Year'].value_counts()

# 6 Объединение DataFrame: concat