In [17]:
import pandas as pd
from scipy.stats import shapiro
from scipy.stats import mannwhitneyu

In [2]:
df = pd.read_csv('data/new-site.csv', sep='\t')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   site        300 non-null    int64
 1   dwell-time  300 non-null    int64
dtypes: int64(2)
memory usage: 4.8 KB

In [4]:
df.head(10)

   site  dwell-time
0     0           2
1     1          48
2     0          15
3     1          16
4     0          38
5     1         169
6     0         571
7     1          38
8     0         233
9     0         146

In [5]:
df[df['site'] == 0]['dwell-time'].sum()

16898

In [6]:
df[df['site'] == 1]['dwell-time'].sum()

10032

In [7]:
df[df['site'] == 0]['dwell-time'].mean()

90.84946236559139

In [8]:
df[df['site'] == 1]['dwell-time'].mean()

88.0

In [10]:
alpha = 0.05

In [11]:
H0 = 'Данные распределены нормально'
Ha = 'Данные не распределены нормально (мы отвергаем H0)'

In [15]:
_, p = shapiro(df[df['site'] == 0]['dwell-time'])
print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print(H0)
else:
	print(Ha)

p=0.000
Данные не распределены нормально (мы отвергаем H0)

In [16]:
_, p = shapiro(df[df['site'] == 1]['dwell-time'])

print('p=%.3f' % p)

# Интерпретация 

if p > alpha:
	print(H0)
else:
	print(Ha)

p=0.000
Данные не распределены нормально (мы отвергаем H0)

In [18]:
Hh0 = 'время одинаково'
Hha = 'время различавоется'

In [19]:
_, p1 = mannwhitneyu(df[df['site'] == 0]['dwell-time'], df[df['site'] == 1]['dwell-time'], alternative='two-sided')

print('p1=%.3f' % p1)

# Интерпретация 

if p1 > alpha:
	print(Hh0)
else:
	print(Hha)

p1=0.896
время одинаково